#marqueeInterstitialBTTea {
  width: 100%;
  transform: translateY(100%);
  --vh: 1vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2147483647;
  --vh: 1vh;
  -webkit-text-size-adjust: 100%;
}

body.block {
  overflow: hidden;
}

#marqueeInterstitialBTTea * {
  padding: 0;
  margin: 0;
}

#marqueeInterstitialBTTea a {
  display: block;
  text-decoration: none;
}

#marqueeInterstitialBTTea.show {
  transform: translateY(0);
}

#marqueeInterstitialBTTea .TenMaxBannerBundle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

#marqueeInterstitialBTTea .marqueeBackground {
  display: flex;
  justify-content: center;
  width: 90%;
  background: #297631;
  border-radius: 4px;
  transform: translateX(120%);
  position: relative;
  z-index: 1;
}

#marqueeInterstitialBTTea .marqueeBackground.show {
  animation: MarqueeFadeIn 1s linear 1 1s forwards;
}

@keyframes MarqueeFadeIn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}

#marqueeInterstitialBTTea .marqueeContainer {
  display: flex;
  width: 92%;
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  overflow: hidden;
}

#marqueeInterstitialBTTea .marqueeContent {
  display: inline-block;
  white-space: nowrap;
  animation-play-state: paused;
}

#marqueeInterstitialBTTea .marqueeContent span {
  color: #dbaf3b;
}

#marqueeInterstitialBTTea .contentA.go {
  animation: marquee 15s linear infinite;
}

#marqueeInterstitialBTTea .contentB.go {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#marqueeInterstitialBTTea .TenMaxBannerBundle .slide {
  display: none;
  width: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  z-index: 100;
}

#marqueeInterstitialBTTea .TenMaxBannerBundle .slide.show {
  display: block;
  animation: slide .5s linear 0.3s 2 forwards;
}

@keyframes slide {
  0% {
    transform: translate(40px, 25px);
  }
  50% {
    transform: translate(0px, 15px);
  }
  100% {
    transform: translate(-40px, 25px);
  }
}

#marqueeInterstitialBTTea .TenMaxCards {
  width: 90%;
  height: 40vw;
  transform: scale(1);
  position: relative;
  z-index: 1;
}

#marqueeInterstitialBTTea .marqueeCard {
  width: 95%;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 3px #222);
  transform: translateY(120%);
  position: absolute;
  top: calc(50% - 18vw);
  left: calc(50% - 47.5%);
}

#marqueeInterstitialBTTea.show .cardA.show {
  transform: translateY(0);
  transition: transform .5s 1s;
  z-index: 3;
}
#marqueeInterstitialBTTea.show .cardB.show {
  transform: rotate(-2deg) translateY(0);
  transition: transform .5s .5s;
  z-index: 2;
}
#marqueeInterstitialBTTea.show .cardC.show {
  transform: rotate(2deg) translateY(0);
  transition: transform .5s;
  z-index: 1;
}

#marqueeInterstitialBTTea .marqueeCard.current {
  animation: TMfadeIn 1s linear 1 forwards;
}

#marqueeInterstitialBTTea .marqueeCard.out {
  animation: TMfadeOut 1s linear 1 forwards;
}

#marqueeInterstitialBTTea .TenMaxInterstitial {
  display: block;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(100%);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#marqueeInterstitialBTTea .TenMaxInterstitial.show {
  transform: translateY(0);
}

#marqueeInterstitialBTTea .TenMaxInterstitial .ICard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 3px #222);
  position: absolute;
  bottom: calc(28px + 40vw + 15px);
  left: 0;
  z-index: 2;
}

#marqueeInterstitialBTTea .ICard.interstitialA {
  transform: rotate(4deg);
} 

#marqueeInterstitialBTTea .ICard.interstitialB {
  transform: rotate(-4deg);
}

#marqueeInterstitialBTTea .ICard.interstitialC {
  transform: rotate(-2deg);
}

#marqueeInterstitialBTTea .ICard.current {
  animation: TMfadeIn 1s linear 1 forwards;
}

@keyframes TMfadeIn {
  0% {
    z-index: 3;
  }
  50% {
    transform: rotate(0deg);
    z-index: 3;
  }
  100% {
    transform: rotate(0deg);
    z-index: 3;
  }
}

#marqueeInterstitialBTTea .ICard.out {
  animation: TMfadeOut 1s linear 1 forwards;
}

@keyframes TMfadeOut {
  0% {
    transform: translateX(0);
    z-index: 50;
  }
  45% {
    transform: translateX(-120%);
    z-index: 50;
  }
  55% {
    transform: translateX(-120%);
    z-index: 1;
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}

#marqueeInterstitialBTTea .ICard img {
  width: 57%;
}

#marqueeInterstitialBTTea .TenMaxCloseBtn {
  display: none;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2147483647;
}

#marqueeInterstitialBTTea .TenMaxCloseBtn img {
  width: 100%;
}

#marqueeInterstitialBTTea.show .bannerClose.show {
  display: block;
  transform: translate(-50%, -150%);
}

#marqueeInterstitialBTTea .interstitialClose.show {
  display: block;
}

@media screen and (max-width: 375px) {
  #marqueeInterstitialBTTea .interstitialClose {
    top: -150%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 376px) {
  #marqueeInterstitialBTTea .interstitialClose {
    top: -200%;
    transform: translateX(-50%);
  }
}

#marqueeInterstitialBTTea .TenMaxLogo {
  width: 28px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ddd;
  background: url(https://tenmax-static.cacafly.net/ssp/H5_Creative_Advertising/img/small.png) right center/contain no-repeat;
  z-index: 2147483647;
}

#marqueeInterstitialBTTea .TenMaxLogo img {
  width: 30px;
}