#recommendProductBed {
  width: 320px;
  height: 0;
  --vh: 1vh;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  overflow: hidden;
}

#recommendProductBed * {
  padding: 0;
  margin: 0;
}

#recommendProductBed a {
  display: block;
  text-decoration: none;
}

#recommendProductBed.play {
  animation: openContent 1s linear 1 forwards;
}

@keyframes openContent {
  0% {
    height: 0px;
  }
  100% {
    height: 494px;
  }
}

#recommendProductBed .TenMaxInterstitial {
  width: 100%;
  clip-path: inset(100% 0 0 0);
  -webkit-clip-path: inset(100% 0 0 0);
}

#recommendProductBed .TenMaxInterstitial.play {
  animation: openAd 1.5s linear 1 forwards;
}

@keyframes openAd {
  0% {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
  }
  30% {
    clip-path: inset(0 0 0 0 );
    -webkit-clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0 );
    -webkit-clip-path: inset(0 0 0 0);
  }
}

#recommendProductBed .TenMaxInterstitial.conceal {
  display: none;
}

#recommendProductBed .TenMaxBannerBundle {
  display: none;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  position: relative;
}

#recommendProductBed .TenMaxBannerBundle.show {
  display: flex;
  animation: showBannerBundle 1s linear 1 forwards;
}

@keyframes showBannerBundle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#recommendProductBed .TenMaxBannerBundle .topBanner {
  display: flex;
}

#recommendProductBed .topBanner img {
  width: 100%;
  border-radius: unset;
}

#recommendProductBed .TenMaxBannerBundle .TenMaxContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-left: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-bottom: 1px solid #7e7e7e;
  background-color: white;
}

#recommendProductBed .TenMaxBannerBundle .scrollBtn {
  width: 32px;
  height: 19px;
  border: none;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0);
}

#recommendProductBed .scrollBtn img {
  vertical-align: super;
}

#recommendProductBed .TenMaxBannerBundle .scrollBtn.stop {
  opacity: 0.2;
}

#recommendProductBed .TenMaxBannerBundle .upBtn {
  margin-bottom: 10px;
}

#recommendProductBed .TenMaxBannerBundle .downBtn {
  margin-top: 10px;
}

#recommendProductBed .TenMaxBannerBundle .prodList {
  width: 93.5%;
  height: 225px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#recommendProductBed .TenMaxBannerBundle .prodList::-webkit-scrollbar {
  display: none;
}

#recommendProductBed .prodList .prod {
  display: flex;
  position: relative;
}

#recommendProductBed .prod:not(:last-child) {
  margin-bottom: 15px;
}

#recommendProductBed .prod img {
  width: 70px;
  margin-right: 10px;
}

#recommendProductBed .prod .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

#recommendProductBed .text span {
  width: 220px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#recommendProductBed .text .TMPrice {
  color: #f22f2f;
}

#recommendProductBed .text .TMGoToAction {
  font-size: 13px;
  color: #333;
  letter-spacing: normal;
  border: #333 1px solid;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px 10px;
  position: absolute;
  bottom: -1px;
  right: 0;
}

#recommendProductBed .TenMaxLogo {
  width: 28px;
  height: 20px;
  position: absolute;
  bottom: 1%;
  right: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ddd;
  background: url(https://tenmax-static.cacafly.net/ssp/H5_Creative_Advertising/img/small.png) right center/contain no-repeat;
  z-index: 2;
}

#recommendProductBed .TenMaxLogo img {
  width: 30px;
}